.message{
    display: flex;
    flex-direction: column;
    margin-top: 20px; 
}

.messageTop{
    display: flex;
}

.messageImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit:cover;
    margin-right: 10px;
}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
}

.messageBottom{
    margin-top: 10px;
    font-size: 12px;
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(241, 236, 236);
    color: black;
}

.chatBoxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
   justify-content: space-between; 
}

.chatMessageInput{
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chatSubmitButton{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
}

.chatBoxWrapper{
    display: flex;
    flex-direction: column;
}

.chatBoxTop{
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}